In [1]:
import pandas as pd
birdstrikes = pd.read_csv(r'data/birdstrikes_Final.csv')

In [2]:
birdstrikes = birdstrikes[["Airport Name","Flight Date","Origin State"]]

In [3]:
birdstrikes['Airport Name'] = birdstrikes['Airport Name'].str.replace(' ARPT', ' AIRPORT')
birdstrikes['Airport Name'] = birdstrikes['Airport Name'].str.replace(' INTL', ' INTERNATIONAL')

In [4]:
birdstrikes['Flight Date'] = pd.to_datetime(birdstrikes['Flight Date'])
birdstrikes['Flight Date'].astype('datetime64[ns]')

0      1990-01-08
1      1990-01-09
2      1990-01-11
3      1990-01-11
4      1990-01-12
          ...
9995   2002-07-24
9996   2002-07-24
9997   2002-07-24
9998   2002-07-25
9999   2002-07-25
Name: Flight Date, Length: 10000, dtype: datetime64[ns]

In [5]:
birdstrikes["year"] = birdstrikes["Flight Date"].dt.year
birdstrikes

                                 Airport Name Flight Date  Origin State  year
0            BARKSDALE AIR FORCE BASE AIRPORT  1990-01-08     Louisiana  1990
1            BARKSDALE AIR FORCE BASE AIRPORT  1990-01-09     Louisiana  1990
2            BARKSDALE AIR FORCE BASE AIRPORT  1990-01-11     Louisiana  1990
3                   NEW ORLEANS INTERNATIONAL  1990-01-11     Louisiana  1990
4            BARKSDALE AIR FORCE BASE AIRPORT  1990-01-12     Louisiana  1990
...                                       ...         ...           ...   ...
9995                             LAGUARDIA NY  2002-07-24      New York  2002
9996  DALLAS/FORT WORTH INTERNATIONAL AIRPORT  2002-07-24         Texas  2002
9997             DENVER INTERNATIONAL AIRPORT  2002-07-24      Colorado  2002
9998         BARKSDALE AIR FORCE BASE AIRPORT  2002-07-25     Louisiana  2002
9999                       GREATER PITTSBURGH  2002-07-25  Pennsylvania  2002

[10000 rows x 4 columns]

In [6]:
birdstrikes

                                 Airport Name Flight Date  Origin State  year
0            BARKSDALE AIR FORCE BASE AIRPORT  1990-01-08     Louisiana  1990
1            BARKSDALE AIR FORCE BASE AIRPORT  1990-01-09     Louisiana  1990
2            BARKSDALE AIR FORCE BASE AIRPORT  1990-01-11     Louisiana  1990
3                   NEW ORLEANS INTERNATIONAL  1990-01-11     Louisiana  1990
4            BARKSDALE AIR FORCE BASE AIRPORT  1990-01-12     Louisiana  1990
...                                       ...         ...           ...   ...
9995                             LAGUARDIA NY  2002-07-24      New York  2002
9996  DALLAS/FORT WORTH INTERNATIONAL AIRPORT  2002-07-24         Texas  2002
9997             DENVER INTERNATIONAL AIRPORT  2002-07-24      Colorado  2002
9998         BARKSDALE AIR FORCE BASE AIRPORT  2002-07-25     Louisiana  2002
9999                       GREATER PITTSBURGH  2002-07-25  Pennsylvania  2002

[10000 rows x 4 columns]

In [7]:
birdstrikes.to_csv(r'data/birdstrikes_Final_1.csv', index = False, encoding='utf-8')