In [54]:
import pandas as pd   #///D:\5th Semester\DAV\Project
birdstrikes = pd.read_csv(r'D:/5th Semester/DAV/Project/birdstrikes.csv')

# PreProcessing for Graph_Visualization_Data

In [57]:
import numpy as np
df = birdstrikes.replace(to_replace='None', value='Nan')
df = df.dropna()
# print(df.nunique())
df1=df['Aircraft Airline Operator'].value_counts()

# df1.to_csv('Graph_Visualization_Data.csv')

In [43]:
# df = df.dropna(subset=['Effect Amount of damage'])

# Scrapping Longitude and Lattitudes

In [58]:
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
# from webdriver_manager.firefox import ChromeDriverManage
from webdriver_manager.firefox import GeckoDriverManager
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

In [61]:
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

In [62]:
Name=[]
longitude=[]
latitide=[]

In [96]:
options = Options()
driver = webdriver.Chrome(ChromeDriverManager().install(), options=options)
url='https://www.latlong.net/category/states-236-14.html'
driver.get(url)
for i in range(1,50):
        try:
#             print(p)
            x=driver.find_element('xpath',f'/html/body/main/table/tbody/tr[{i}]').text
#             time.sleep(10)
#             print(x)
            x=x.split()
            y=x[0]
            y=y[0:-1]
            Name.append(y)
            longitude.append(x[2])
            latitide.append(x[3])
        except:
            print("nott accesses")
# #             continue

In [94]:
df=pd.DataFrame({
    
"AirportName ": Name,
"longitude":longitude,
"latitide":latitide
})

In [95]:
df

            Name   longitude     latitide
0            Plac   Latitude    Longitude
1       Wisconsin  44.500000   -89.500000
2             Wes        USA    39.000000
3         Vermont  44.000000   -72.699997
4           Texas        USA    31.000000
5            Sout        the           US
6            Rhod        the           US
7          Oregon         US    44.000000
8              Ne        USA    43.000000
9              Ne        USA    44.000000
10       Nebraska  41.500000  -100.000000
11         Kansas         US    38.500000
12    Mississippi  33.000000   -90.000000
13       Illinois  40.000000   -89.000000
14       Delaware         US    39.000000
15    Connecticut  41.599998   -72.699997
16       Arkansas         US    34.799999
17        Indiana  40.273502   -86.126976
18       Missouri  38.573936   -92.603760
19        Florida  27.994402   -81.760254
20         Nevada  39.876019  -117.224121
21          Maine        USA    45.367584
22       Michigan  44.182205   -84.506836
23        Georgia        USA    33.247875
24         Hawaii  19.741755  -155.844437
25         Alaska  66.160507  -153.369141
26      Tennessee  35.860119   -86.660156
27       Virginia  37.926868   -78.024902
28             Ne        USA    39.833851
29       Kentucky  37.839333   -84.270020
30           Nort        USA    47.650589
31      Minnesota  46.392410   -94.636230
32       Oklahoma        USA    36.084621
33        Montana  46.965260  -109.533691
34     Washington        USA    47.751076
35           Utah  39.419220  -111.950684
36       Colorado  39.113014  -105.358887
37           Ohio  40.367474   -82.996216
38        Alabama  32.318230   -86.902298
39           Iowa        USA    42.032974
40             Ne        USA    34.307144
41           Sout        USA    33.836082
42   Pennsylvania  41.203323   -77.194527
43        Arizona  34.048927  -111.093735
44       Maryland  39.045753   -76.641273
45  Massachusetts  42.407211   -71.382439
46     California        USA    36.778259
47          Idaho  44.068203  -114.742043
48        Wyoming  43.075970  -107.290283

In [ ]:
df.to_csv('hierarchy.csv')